body { 
  margin: 0; 
  padding: 0;
  font-family: 'Fira Sans';
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width:  100%; 
}

#legend {
  z-index: 3;
  position: absolute;
  right: 1em;
  bottom: 2em;
  background: rgba(255,255,255,0.8);
  border: 1px dotted black;
  border-radius: 9px;
  padding: .75em;
  width: 300px;
}

#legend-toggle {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /* margin-right: -0.25em; */
  /* margin-top: -0.25em; */
  float: right;
}

#legend-map-title {
  font-size: 1.1em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  display: inline-block;
}

input[type=checkbox] {
  transform: scale(1.25);
}

label {
  font-size: .9em;
}

.mapboxgl-popup-content > h1,h2,h3,h4,h5,h6 {
  margin: .2em 0 0 -.1em;
  border-bottom: 1px dotted black;
}

.layer-item {
  margin: .2em 0em;
}

.mapboxgl-popup-content {
  max-height: 200px;
  overflow-y: scroll;
  max-width: 300px;
}

.legend-icon {
  display: inline-block;
  margin-right: .2em;
}

#locate {
  width: 100%;
  margin: .5em 0em 1em 0em;
}

.dataset-item a {
  font-size: .9em;
}